/*BACKTOP*/
.backtop{position: fixed; display: none; cursor: pointer; bottom: 15px; right: 25px; padding: 23px; background-color: rgba(0,0,0,0.5); background-image: url(../icons/go-up.svg); background-repeat: no-repeat; background-position: center 40%; z-index: 99}
.backtop:hover{background-color: #555;}

/*PAGINATION*/
.pagination{float: left; width: 100%; padding: 15px; background: #bbb; text-align: center; margin: 30px auto 0;}
.pagination h2{margin-bottom: 20px; font-weight: 300;}
.pagination a, .pagination span{text-align: center; padding: 8px 16px; background: #555; color: #fff; font-size: 0.875em; display: inline-block; margin: 0 8px 5px;}
.pagination span{background: #999;}
.pagination a:hover{background: #999; text-decoration: none;}
.content .pagination{margin-bottom: -20px;}

/*SHAREBOX*/
.sharebox{width: 100%; text-align: center; padding: 20px;}
.sharebox .like{display: inline-block; min-width: 30%; position: relative; margin: 0 1%; background: #069; color: #fff; font-size: 0.7em; text-transform: uppercase;}
.sharebox .like a{float: left; color: #fff; width: 100%; padding: 60px 20px 20px 20px; background-repeat: no-repeat; background-position: top 20px center;}
.sharebox .like a span{display: block;}
.sharebox .like .count{position: absolute; top: 0; left: 0; padding: 5px 10px; background: rgba(0,0,0,0.5);}
.sharebox .facebook a{background-image: url(../icons/share_facebook.png); background-color: #3B5998;}
.sharebox .facebook a:hover{background-color: #7A95CB;}
.sharebox .google a{background-image: url(../icons/share_google.png); background-color: #D73D32;}
.sharebox .google a:hover{background-color: #E7867E;}
.sharebox .twitter a{background-image: url(../icons/share_twitter.png); background-color: #54A4D6;}
.sharebox .twitter a:hover{background-color: #81C1E9;}
@media (max-width: 37em) {
    .sharebox .like{min-width: 100% !important; margin: 0 0 15px 0;}
    .sharebox .like:last-of-type{margin-bottom: 0;}
}

/*MODAL*/
.modal{display: none; background: rgba(0,0,0,0.8); width: 100%; height: 100%; position: fixed; top: 0; right: 0; bottom: 0; left: 0; outline: 0; z-index: 99; overflow-x: hidden; overflow-y: auto;}
.modal_box{display: none; position: relative; margin: 20px auto; width: 600px; max-width: calc(100% - 40px);}
.modal_content{position: relative; background-clip: padding-box; outline: 0; box-shadow: 0 5px 15px rgba(0,0,0,0.5); border: 1px solid rgba(0,0,0,0.2);}
.modal_box_close{position: absolute; top: 2px; right: 2px; font-size: 0.9em; font-weight: bold; padding: 14px; cursor: pointer; border-radius: 50%; background-image: url(../icons/cross-white.svg); background-repeat: no-repeat; background-position: center center; background-size: 60%; transition: all ease 0.2s}
.modal_box_close.black{background-image: url(../icons/cross.svg);}
.modal_box .header{padding: 30px; color: #fff; text-align: center; border-radius: 3px 3px 0 0;}
.modal_box .header p{font-weight: 500; font-size: 1.5em; text-shadow: 1px 1px 0 #555;}
.modal_box .cont{padding: 30px; background: #fff; border-radius: 0 0 3px 3px;}

/*PLAY TAKE*/
.play_take{display: none; position: fixed; left: 0; top: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.7); z-index: 99;}
.play_take_content{position: relative; margin: 4% auto; width: 640px; max-width: 90%; background: #fff; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;}
.play_take_content .play_take_close{color: #fff; position: absolute; top: -10px; right: -10px; font-size: 0.9em; font-weight: bold; padding: 6px 11px; cursor: pointer; background: #000; border: 2px double #ccc; border-radius: 50%; -moz-border-radius:  50%; -webkit-border-radius: 50%;}
.play_take_content .play_take_close:hover{background: #B32C24;}
.play_take_content h1{padding: 25px; font-size: 1.2em; font-weight: 400;}
.play_take_content .content_like{padding-bottom: 20px;}
.play_take_content .box_like{text-align: center; padding: 20px 0 0 0;}
.play_take_content .box_like p{margin-bottom: 15px; font-size: 0.8em; color: #555;}
.lead_take .thumb{position: relative; margin-bottom: 10px;}
.lead_take .false_bg{cursor: pointer; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.5) url(images/logo_icon.png) left 15px bottom 15px no-repeat; background-size: 50px; transition-duration: 0.3s; -webkit-transition-duration: 0.3s; -moz-transition-duration: 0.3s;}
.lead_take .false_bg:hover{background-color: rgba(0,0,0,0);}
.lead_take h1{font-weight: 300; font-size: 1em; margin-bottom: 10px;}
.lead_take span{font-weight: bold; text-transform: uppercase; cursor: pointer; font-size: 0.875em; border-bottom: 1px dotted #eee;}
.lead_take span:hover{border-color: #000;}

/*SCROLLBAR*/
::-webkit-scrollbar {width: 0.5rem;}
body::-webkit-scrollbar-track {-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);}
::-webkit-scrollbar-thumb {background-color: darkgrey; outline: 1px solid slategrey; border-radius: 25px;}

/*SLIDE*/
/*slide full width*/
.slide_control{position: absolute; width: 100%; height: 100%; pointer-events: none;}
.slide_nav{position: absolute; height: 100%; padding: 30px; font-size: 2em; background-size: 100% auto; background-position: center; background-repeat: no-repeat; cursor: pointer; z-index: 89; transition: all 0.5s ease; pointer-events: auto;}
.slide_padding{padding-left: 60px; padding-right: 60px;}
.slide_nav:hover{background-color: rgba(221,221,221,0.5);}
.slide_nav.back{left: 0; background-image: url(../icons/arrow-left.svg);}
.slide_nav.go{right: 0; background-image: url(../icons/arrow-right.svg);}
.slide_nav.back.white{background-image: url(../icons/arrow-left-white.svg);}
.slide_nav.go.white{background-image: url(../icons/arrow-right-white.svg);}
.slide_indicators{display: block; margin: auto; text-align: center;}
.slide_indicators li{display: inline-block; width: 13px; height: 13px; margin: 1px 5px; cursor: pointer; background-color: #fbfbfb; border: 1px solid #444; border-radius: 10px;}
.slide_indicators .active{width: 13px; height: 13px; background-color: #444;}

@media (max-width: 63.99em){
    .slide_nav{padding: 20px;}
    .slide_padding{padding-left: 40px; padding-right: 40px;}
}

@media (max-width: 29.99em){
    .slide_nav{padding: 15px;}
    .slide_padding{padding-left: 30px; padding-right: 30px;}
}

/*WORDPRESS*/
/*#breadcrumbs, #breadcrumbs span{padding-left: 0}
#breadcrumbs a{color: #000}
.slide_item_desc2 p{font-size: 1.1em; color: #555;}
.menu > li{font-size: 1em}
.menu > li > a, .menu > li > span.j_modal{font-size: 1em}
.menu > li > span.j_modal{cursor: pointer;}
.cat-item{list-style-type: none; padding-left: 10px; margin-bottom: 10px;}
.cat-item:last-of-type{margin-bottom: 0;}

@media (max-width: 64em) {
    .menu > li{float: left; width: 100%; position: relative;}
    .menu > li > a, .menu > li > span.j_modal{float: left; width: 100%; padding: 15px; text-transform: uppercase; text-decoration: none; color: #eee; font-weight: bold; font-size: 0.875em; border-bottom: solid 1px #eee;}
    .menu > li:hover, .main_header_nav > li > a:hover, .menu > li > span.j_modal:hover{background: #444; color: #fff;}
    .sub-menu{float: left; width: 100%; padding: 10px; background: #333; display: none; border-bottom: solid 1px #eee;}
    .sub-menu > li{float: left; width: 100%;}
    .sub-menu > li > a{float: left; width: 100%; padding: 15px; text-transform: uppercase; text-decoration: none; color: #fff; font-size: 0.8em;}
    .sub-menu > li > a:hover{background: #aaa;}
    hidden submenu
    .menu a{position: relative;}
    .menu a.shorticon{background-position-x: 90%;}
}
@media (min-width: 64em){
    .menu > li{position: relative; display: inline-block;}
    .menu > li:last-of-type{margin-right: 20px;}
    .menu > li > a, .menu > li > span.j_modal{float: left; padding: 10px 6px; color: #333; text-transform: uppercase; font-size: 0.9em; font-weight: 300;}
    .menu > li:hover, .menu > li > a:hover{background-color: #eee; text-decoration: none;}
    .sub-menu{display: none; position: absolute; top: 100%; left: 0; width: 400%; background: #fff; padding: 10px; text-align: left; z-index: 99;}
    .menu > li:hover .sub-menu, .sub-menu > li > a:hover .sub-menu{display: block;}
    .sub-menu > li{float: left; width: 100%;}
    .sub-menu > li > a{float: left; width: 100%; padding: 10px; text-decoration: none; font-size: 0.8em; color: #333;}
    .sub-menu > li > a:hover{background: #ddd; color: #fff;}
    .menu a.shorticon{padding-right: 15px !important; margin-right: 5px; background-size: auto 30%; background-image: url(../icons/arrow-down.svg); background-position: right center}
}
.wpcf7-not-valid-tip{display: none !important;}
.wpcf7 input, .wpcf7 textarea{margin-bottom: 25px; font-size: 0.84em;}
.wpcf7 button{font-size: 1em;}
.wpcfy-response-output{display:none;}*/

